body, html{
    min-height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}


.date-section{
    padding: 30px;
    border: 3px solid #e4d3d3; 
    width:100%;
}


.answer{
    background-color: #e4d3d3;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}